.ServerList {
    width: calc(100% - 10%);
    padding-inline: 5%;
    margin-block: 40px;
}

.serverTable {
    background-color: var(--color-bg-secondary);
    width: 100%;
    padding: 0 10px;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
}

.checkboxColumn {
    width: 5%;
}

.idColumn {
    width: 5%;
}

.buttonColumn {
    width: 50px;
}

.tableCell {
    padding: 15px 10px;
    text-align: center;
}