.Header {
    width: 100vw;
    height: 80px;
}

.title {
    font-size: var(--font-size-title);
    font-weight: bold;
}

.manu {
    position: fixed;
    background-color: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    width: calc(100vw - 10%);
    height: 80px;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    padding-inline: 5%;
}

.itens {
    display: flex;
    gap: 10px;
    list-style: none;
}

.item {
    display: inline-block;
    color: var(--color-text);
    transition: 0.2s ease;
    text-decoration: none;
    font-size: var(--font-size-subtitle);
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--color-text-hover);
}

