.ServerCreatorButton {
    background-color: var(--color-positive);
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    transition: 0.2s ease;
}

.creatorImg {
    width: 25px;
    height: 25px;
}

.creatorName {
    font-size: var(--font-size-subtitle);
    font-weight: bold;
}

.ServerCreatorButton:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--color-positive-hover);
}